body {
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    width: max-content;
    height: max-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 8px solid darkblue;
    border-radius: 20px;
    background-color: rgb(11, 11, 95);
}

    #field {
        width: 310px;
        height: 60px;
        margin: 10px;
        margin-top: 2px;
        padding: 5px;
        background-color: rgb(255, 251, 251);
        cursor: default;
        text-align: end;
    }

    table {
        width: 100%;
        text-align: center;
    }

    input {
        width: 60px;
        height: 60px;
        font-size: 40px;
        margin: 5px;
        background: rgb(250, 248, 244);
        cursor: pointer;
    }